In [45]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# 
# df = pd.read_csv('books.csv')
# df.head()
# Removing duplicates
# df.duplicated(subset='Title').sum()
# df = df.drop_duplicates(subset='Title')
# df.duplicated(subset='Title').sum()
# Random sampling
# sample_size = 200
# df = df.sample(n=sample_size , replace=False , random_state=100)
# df = df.reset_index()
# df = df.drop('index' , axis=1)
# df.head()
# df.info()

# Processing Text data 
# def clean_text(author):
#     result = str(author).lower()
#     return(result.replace(' ',''))
# df['Author'] = df['Author'].apply(clean_text)
# df['Title'] = df['Title'].str.lower()
# df['Publisher'] = df['Publisher'].str.lower()
# df2 = df.drop(['Height','Genre'],axis=1)
# df2['data'] = df2[df2.columns[1:]].apply(
#     lambda x: ' '.join(x.dropna().astype(str)),
#     axis=1
# )

# print(df2['data'].head())
# vectorizer = CountVectorizer()
# vectorized = vectorizer.fit_transform(df2['data'])
# 
# similarities = cosine_similarity(vectorized)
# df = pd.DataFrame(similarities, columns=df['Title'], index=df['Title']).reset_index()
# df.head()
# input_book = 'we the living'
# if input_book in df['Title'].values:
#     recommendations = pd.DataFrame(df.nlargest(11, input_book)['Title'])
#     recommendations = recommendations[recommendations['Title'] != input_book]
#     print(recommendations)
# else:
#     print(f"'{input_book}' not found in the dataset.")

,id,title,latitude,longitude,city,state,zipCode,jobType_id,jobLocation_id,salary_min,...,summary,jobRequirements,radius,radiusUnit,user_id,skill_id,deactivate_at,deleted_at,created_at,updated_at
0,bfa7bc92-b468-4080-bb15-2e87b7598c60,MERN Stack 5,37.774900,-122.419400,San Francisco,CA,94103,a0390368-ae9c-4c26-862a-8c5ef03aaff3,2c471f60-2f48-458a-92b2-36622fa6dad7,1000,...,Looking for a skilled software engineer to joi...,5+ years of experience in software development.,50.0,miles,477db199-d161-4ff8-8028-6b28ac7db579,{f4b66805-90fc-40d5-a44b-40d84b26a32b},NaN,NaN,2024-09-15 14:22:48.718 -0700,2024-09-15 14:22:48.718 -0700
1,cf5380a9-fdff-4788-905b-3b8f23c4149c,MERN Stack 5,37.774900,-122.419400,San Francisco,CA,94103,a0390368-ae9c-4c26-862a-8c5ef03aaff3,2c471f60-2f48-458a-92b2-36622fa6dad7,1000,...,Looking for a skilled software engineer to joi...,5+ years of experience in software development.,50.0,miles,477db199-d161-4ff8-8028-6b28ac7db579,{f4b66805-90fc-40d5-a44b-40d84b26a32b},NaN,NaN,2024-09-15 15:43:53.890 -0700,2024-09-15 15:43:53.890 -0700
2,58f86a3f-6edf-455b-a04b-baca4b25753f,Reacjts Developer,57.149606,-2.096916,Aberdeen City,NaN,AB10 1AB,a0390368-ae9c-4c26-862a-8c5ef03aaff3,2c471f60-2f48-458a-92b2-36622fa6dad7,50000,...,Job Seeker Wiill Be Success,Job Seeker Wiill Be Success,1.0,kilometers,ec23d0dd-f0da-4d6a-8620-a5c0713e2232,"{f4b66805-90fc-40d5-a44b-40d84b26a32b,8e6e7223...",NaN,NaN,2024-09-16 14:54:24.666 -0700,2024-09-16 14:54:24.666 -0700
3,2be6aae2-7616-4c8f-9ce0-3a2fc7d0b516,new title,57.149590,-2.096923,Aberdeen North,S99999999,AB10 1AF,a0390368-ae9c-4c26-862a-8c5ef03aaff3,2c471f60-2f48-458a-92b2-36622fa6dad7,16000,...,new summar,new reuqirments,25.0,miles,ee4ebfda-1a55-424a-8fcf-222725ffadba,{5ad45909-4370-48e4-835d-d1fd4016e7cd},NaN,NaN,2024-09-19 04:40:01.444 -0700,2024-09-19 04:40:01.444 -0700
4,66ec5ac2-e378-46c6-b21c-815918aa4a96,hsheh,51.487122,0.003284,Greenwich and Woolwich,E99999999,SE10 0AA,9f7c9074-9827-43a8-b4fe-fad57ab82008,2c471f60-2f48-458a-92b2-36622fa6dad7,26000,...,\n\nThe job of a Laravel developer is to devel...,\n\nPosition: Laravel Developer\n\nLocation: I...,29.0,miles,d7a01d14-e031-47a1-bb6a-c3b231a20b87,"{39ff8eed-e3db-4855-858b-066b552ad70b,5ad45909...",NaN,NaN,2024-09-18 11:06:56.933 -0700,2024-09-18 11:06:56.933 -0700

In [80]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# Load CSV files
job_df = pd.read_csv('jobs.csv')  # Job data
job_location_df = pd.read_csv('jobLocation.csv')  # Job location data
job_type_df = pd.read_csv('jobType.csv')  # Job type data
merged_df = pd.merge(job_df, job_location_df, left_on='jobLocation_id', right_on='id', suffixes=('_job', '_location'))
# Merge the result with job type data
merged_df = pd.merge(merged_df, job_type_df, left_on='jobType_id', right_on='id', suffixes=('_merged', '_type'))
merged_df.duplicated(subset='title_job').sum()
merged_df = merged_df.drop_duplicates(subset='title_job')
merged_df.duplicated(subset='title_job').sum()
# Random sampling
sample_size = 4
merged_df = merged_df.sample(n=sample_size , replace=False , random_state=4)
merged_df = merged_df.reset_index()
merged_df = merged_df.drop('index' , axis=1)


# Processing Text data 
def clean_text(author):
    result = str(author).lower()
    return(result.replace(' ',''))
merged_df['city'] = merged_df['city'].apply(clean_text)
merged_df['title_job'] = merged_df['title_job'].str.lower()
merged_df['title_location'] = merged_df['title_location'].str.lower()
merged_df['title'] = merged_df['title'].str.lower()
df2 = merged_df.drop(['id_job','latitude' , 'longitude' , 'latitude' , 'state' ,'zipCode' , 'jobType_id'
               , 'jobLocation_id' , 'salary_min' , 'salary_max' , 'summary' ,'jobRequirements',
               'radius' , 'radiusUnit' , 'user_id' , 'skill_id' , 'deactivate_at' , 'deleted_at' , 
               'created_at_job' , 'updated_at_job' , 'id_location' , 'status_merged' ,'created_at_location' , 'updated_at_location' , 'id' , 'status_type' , 'created_at' , 'updated_at'],axis=1)
df2['data'] = df2[df2.columns[1:]].apply(
    lambda x: ' '.join(x.dropna().astype(str)),
    axis=1
)

# print(df2['data'].head())
vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

similarities = cosine_similarity(vectorized)
merged_df = pd.DataFrame(similarities, columns=merged_df['title_job'], index=merged_df['title_job']).reset_index()
# merged_df.head()
job_title = 'mern stack'
if job_title in merged_df['title_job'].values:
    recommendations = pd.DataFrame(merged_df.nlargest(11, job_title)['title_job'])
    recommendations = recommendations[recommendations['title_job'] != job_title]
    print(recommendations)
else:
    print(f"'{job_title}' not found in the dataset.")

         title_job
1  react developer
3       full stack
2  react developer

In [108]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Load CSV files
job_df = pd.read_csv('jobs.csv')  # Job data
job_location_df = pd.read_csv('jobLocation.csv')  # Job location data
job_type_df = pd.read_csv('jobType.csv')  # Job type data

# Merge DataFrames
merged_df = pd.merge(job_df, job_location_df, left_on='jobLocation_id', right_on='id', suffixes=('_job', '_location'))
merged_df = pd.merge(merged_df, job_type_df, left_on='jobType_id', right_on='id', suffixes=('_merged', '_type'))

# Remove duplicates and sample data
merged_df = merged_df.drop_duplicates(subset='title_job').sample(n=4, replace=False, random_state=4).reset_index(drop=True)

# Process text data
def clean_text(text):
    return str(text).lower().replace(' ', '')

merged_df['city'] = merged_df['city'].apply(clean_text)
merged_df['title_job'] = merged_df['title_job'].str.lower()

# Combine job title and location
merged_df['combined_features'] = merged_df['title_job'] + ' ' + merged_df['city']

# Drop unnecessary columns
df2 = merged_df.drop(['id_job', 'latitude', 'longitude', 'state', 'zipCode', 'jobType_id', 'jobLocation_id',
                      'salary_min', 'salary_max', 'summary', 'jobRequirements', 'radius', 'radiusUnit', 
                      'user_id', 'skill_id', 'deactivate_at', 'deleted_at', 'created_at_job', 'updated_at_job',
                      'id_location', 'status_merged', 'created_at_location', 'updated_at_location', 
                      'id', 'status_type', 'created_at', 'updated_at'], axis=1)

# Create a new column with all relevant features combined
df2['data'] = df2[df2.columns[1:]].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)

# Vectorize the data for cosine similarity
vectorizer = CountVectorizer()
vectorized = vectorizer.fit_transform(df2['data'])

# Calculate cosine similarities
similarities = cosine_similarity(vectorized)

# Create a similarity DataFrame
similarity_df = pd.DataFrame(similarities, columns=df2['combined_features'], index=df2['combined_features']).reset_index()

# Search for job based on title and location
job_title = 'react developer'
job_location = 'faisalabad'
search_term = f"{job_title} {job_location}"

# Check if the job with the combined title and location exists
if search_term in df2['combined_features'].values:
    # Get the top 11 similar jobs (including the search term)
    recommendations = pd.DataFrame(similarity_df.nlargest(11, search_term)['combined_features'])
    
    # If you want to include the search term itself in the recommendations, comment the next line
    # recommendations = recommendations[recommendations['combined_features'] != search_term]
    
    print(f"Recommendations for '{job_title}' in '{job_location}':")
    print(recommendations)
else:
    print(f"'{search_term}' not found in the dataset.")

Recommendations for 'react developer' in 'faisalabad':
            combined_features
1  react developer faisalabad
3           full stack lahore
0        mern stack islamabad
2     react developer karachi